.color-filter {
    display: flex;
    align-items: center;
  }
  
  .color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 3px;
    border: 1px solid #e2e2e2;
    cursor: pointer;
  }
  
  .color-circle.selected {
    width: 18px;
    height: 18px;
    //border: 1px solid white;
  }

//   .color_circle {
//     width: 20px;
//     height: 20px;
//     border-radius: 50%;

//     // border: 1px solid #e2e2e2;
//     cursor: pointer;
// }

// .color_circle.selected{
//     width: 22px;
//     height: 22px;
// }