$text-color: #333333;
$text-color-light: #4F4F4F;
$light-text-color: white;

$primary-color: #C73153;
$primary-darker-color: #79041f;

$base-bg-color: white;

$gray-color: #828282;
$light-gray-color: #E0E0E0;